.navigation {
  display: flex;
  width: 100%;
  height: 68px;
  position: fixed;
  z-index: 10;
  padding: 0px 1rem 0px 2rem;
  transition: background 500ms;
}

.solidNav {
  background: #161616;
}
.transparentNav {
  background: linear-gradient(
    to bottom,
    rgba(22, 22, 22, 1) 0%,
    rgba(22, 22, 22, 0) 100%
  );
}

.navTextContainer {
  margin-left: auto;
  display: flex;
}

.navText {
  height: 100%;
  font-size: 1rem;
  margin-left: 10px;
  padding: 18px;
  cursor: pointer;
}

.navUser {
  height: 100%;
  font-size: 1rem;
  margin-left: 10px;
  padding: 14px;
  cursor: pointer;
}

.navText:hover,
.navUser {
  text-decoration: underline;
}

.netflix_logo {
  width: auto;
  height: 100%;
}

.drop_down {
  position: absolute;
  right: 20px;
  visibility: hidden;
  background-color: #161616;
  list-style: none;
  text-align: right;
  margin: 0;
  padding: 0;
  transition: visibility 500ms;
}

.drop_li {
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 200ms;
  display: flex;
  justify-content: flex-end;
}

.profile_icon {
  /* box-sizing: content-box; */
  height: 1rem;
  margin-right: auto;
}

.drop_li:hover {
  background-color: #6d6d6e;
}

.drop_down:hover {
  visibility: visible;
}
.user_setting {
  transition: background-color 200ms;
}

.user_setting:hover {
  background-color: #6d6d6e78;
}

.user_setting:hover ul {
  visibility: visible;
}
