* {
  margin: 0;
  box-sizing: border-box;
  font-family: "CircularStd";
  font-weight: 300;
}

@font-face {
  font-family: "CircularStd";
  src: local("CircularStd"),
    url("./fonts/circular-std-medium-500.ttf") format("truetype");
  font-weight: 500;
}
